<div class="comment <%= "private" if comment.private? %>">
  <p class="meta"><%= comment.user.username %> on <%= comment.created_at.to_s(:short_time) %> said:</p>
  <div class="content">
  <%= comment.content %>
</div>
</div>
<hr />