<% title "Tasks" %>

<% content_for :sidebar do %>
  <ul class="actions">
  <li><%= link_to "New Task", new_project_task_path(@project) %></li>
  </ul>
  <h2>Filter tasks</h2>
  <ul>
    <li><%= link_to "My Tasks", project_tasks_path(@project) %></li>
  </ul>
<% end %>

<%= render @tasks %>
