<div class="<%= mymodel.attachment_content_type %>">
  <% if mymodel.attachment_content_type.include? 'image' %>
    <%= link_to (image_tag mymodel.attachment_url(:thumb).to_s), mymodel.attachment_url %>
  <% else %>
    <%= link_to mymodel.attachment_file_name, mymodel.attachment_url %> (<%= number_to_human_size(mymodel.attachment_file_size) %>)
  <% end %>
</div>