<% title "About Taskodozer" %>
<p>Taskodozer is a project management application with a focus on Getting Things Done&trade; principles.</p>
<p>You can <%= link_to "become our client", new_user_registration_path %> and start using it on your next project.</p>