<% title "Home" %>  

<% content_for :sidebar do -%>
	<h2>Home Sidebar</h2>
	
	<ul>
		<li><a href="#">Link to someplace</a></li>
		<li><a href="#">Link to someplace</a></li>
		<li><a href="#">Link to someplace</a></li>
		<li><a href="#">Link to someplace</a></li>
	</ul>
		
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</p>
<% end -%>